/* Estilos para móviles */
.container_mobile {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7; /* Fondo claro */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.width_login{
    max-width: 270px;
}

.dm_sans_big{
    font-family:"DMS Sans";
    font-size: 40px;
    color: #fff;
    font-weight: bold; 
}

.pad_login{
    padding: 10px;
}

.dm_sans_normal_pad{
    font-family:"DMS Sans";
    font-size: 20px;
    color: #fff;
    font-weight: 200;
    padding-left: 30px;
}

.img_background{
    background-image: url('../img/fondo_login.png');
    background-repeat: round;
    max-width: 440px;
    width: 500%; /* Ocupa todo el ancho */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    padding-top: 50px;

}

.logo_padding{
    padding-left: 20px;
}


.container_mobile img {
    max-width: 150px; /* Logo más pequeño para móvil */
    margin-bottom: 20px;
}

.space_index{
    padding: 10px;
}

.color_fecha{
    color: #3DE42E;
}

.container_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
}

.widget img {
    max-width: 100px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Asegura que cubra toda la pantalla */
    background-image: url('../img/Background.svg');
    background-size: cover; /* Hace que el SVG cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat:repeat-y; /* Evita que se repita */
}

.menu{
    color: #3DE42E;
    font-size: 24px;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #3DE42E;
    ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Media Queries para pantallas más grandes */
@media (min-width: 768px) {
    .container_mobile {
        max-width: 500px; /* Ajusta el ancho en tablets o pantallas más grandes */
    }

    h1 {
        font-size: 28px;
    }

    .btn {
        font-size: 18px;
    }
}

.card0 {
    width: 18rem;
    padding: 10px;
    background-color: #C8FFD4, #A8FFBB;
}

.card1 {
    width: 18rem; 
    background-color:#75D87C;
    border-radius: 5px;
}

.card2 {
    width: 18rem; 
    background: #64CC6B;
    border-radius: 5px;
}

.card3 {
    width: 18rem; 
    background: #6CCCAC;
    border-radius: 5px;
}

.card4 {
    width: 18rem; 
    background: #40C196;
    border-radius: 5px;
}

.res1 {
    font: DM sans;
    font-size: 22px;
    color: #075800;
    text-align: left ;
    

}

.res2 {
    font: DM sans;
    font-size:  18px;
    text-align: left;
}

.card border-dark mb-3 {
    max-width: 18rem;
}

.rec1 {
    font: DM sans;
    font-size: 18px;
    color: #075800;
    text-align: left ;
}